@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.menu-animation {
    animation: slideInRight 0.5s forwards;
    /* 0.5s là thời gian của animation */
}