.list_request.list_request_scroll {
    margin-top: 15px;
    margin-right: -20px;
    padding-right: 15px;
    height: calc(100vh - 230px);
    overflow-y: auto;
    overflow-x: hidden;
    .table_container {

        // min-width: 550px;
        .table_content {
            .ant-table-container {
                .ant-table-header {
                    .ant-table-thead {
                        .ant-table-cell {
                            background-color: #EBEEF0;
                            color: #A3A6B4;
                        }
                    }
                }
            }
        }
    }
}