@media (max-width:767px) {
    .viewApproval-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 110px;

        .viewtitle {
            display: flex;
            flex-direction: column;

            .viewtitle-status {
                display: inline-block;
                width: 100%;

                .viewtitle-statusState,
                .viewtitle-statusRcode {
                    display: flex;
                    width: 100%;

                    >span {
                        // width: 100%;
                        margin: 16px 0;
                        padding-right: 5px;
                    }
                }

            }

            >h1 {
                text-align: center;
                width: 100%;
            }
        }

        .viewInput {
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;

            .viewInput-top {
                padding-bottom: 20px;
                // display: flex;

                // justify-content: space-between;
                .viewInput-element {
                    width: 100%;
                    margin-right: 25px;

                }
            }

            .viewInput-bot {
                // display: flex;
                // justify-content: space-between;

                .viewInput-element {
                    width: 100%;
                    margin-right: 20px;
                }
            }
        }

        .viewDocument {
            width: 100%;

            >div {
                padding-bottom: 20PX;
            }

            .viewDocument-content {
                .ant-viewInput {
                    height: 100px;
                }
            }
        }
    }

    .viewSignapproval-container {
        padding: 20px;



    }

    .comment {
        display: flex;
        flex-direction: column;

        .commentInput {
            width: 100%;

        }

        .commentShow {

            .commentGroup {

                .commentParent {
                    width: 100%;



                    .comment-element {
                        border-top: 1px solid #ccc;
                        display: flex;
                        // align-items: center;
                        // padding: 10px 0;
                        height: 80px;

                        // pad: 3px 0;

                        .comment-avarta {
                            margin-right: 10px;
                            margin-top: 15px;
                        }

                        .comment-body {
                            // margin-top: -10PX;
                            width: 93%;
                            overflow-x: auto;


                            span {
                                font-size: 12px;

                                color: #b4afb2;
                            }

                            .comment-bodyTitle {
                                font-weight: bold;
                                margin-right: 20px;
                                margin-top: -10px;
                                font-size: 14px;

                            }

                            .comment-bodyComment {
                                padding-top: 5px;
                                color: #b4afb2;
                                overflow-wrap: break-word;

                                >a {
                                    margin: 0 10px;
                                }
                            }
                        }

                    }
                }

                .conment-Children {
                    width: calc(100% - 50px);

                    margin-left: 50px;

                    .comment-element {
                        border-top: 1px solid #ccc;
                        display: flex;
                        // align-items: center;
                        padding: 10px 0;
                        height: 61px;
                        overflow-x: auto;
                        overflow-wrap: break-word;

                        .comment-avarta {
                            margin-right: 10px;
                            margin-top: 15px;
                        }

                        .comment-body {
                            // margin-top: -10PX;
                            width: 93%;
                            margin-left: 10px;
                            // overflow-x: auto;
                            overflow-x: auto;


                            .comment-bodyTitle {
                                font-weight: bold;
                                margin-right: 20px;
                                margin-top: -10px;
                                font-size: 14px;
                            }

                            .comment-bodyComment {
                                padding-top: 5px;
                                overflow-wrap: break-word;
                                // overflow-x: auto;
                                color: #b4afb2;

                                >a {
                                    margin: 0 10px;
                                }
                            }
                        }

                    }
                }


            }
        }
    }

}

@media (min-width:768px) {
    .viewApproval-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 60px;
        width: 100%;

        .viewtitle {
            display: flex;

            .viewtitle-status {
                display: inline-block;
                width: 40%;

                .viewtitle-statusState,
                .viewtitle-statusRcode {
                    display: flex;

                    >span {
                        margin: 16px 0;
                        padding-right: 5px;
                    }
                }

                .viewtitle-statusState {
                    width: 30%;
                }




            }




        }

        .viewInput {
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;

            .viewInput-top {
                padding-bottom: 20px;
                display: flex;

                // justify-content: space-between;
                .viewInput-element {
                    width: 24%;
                    margin-right: 25px;

                }
            }

            .viewInput-bot {
                display: flex;
                // justify-content: space-between;

                .viewInput-element {
                    width: 24%;
                    margin-right: 20px;
                }
            }
        }

        .viewDocument {
            width: 50%;


            >div {
                padding-bottom: 20PX;
            }

            .viewDocument-reference,
            .viewDocument-approve {
                display: flex;
                flex-direction: column;

                >a {
                    text-decoration: none;
                    display: block;
                    width: 100px;
                    color: #917b7b;
                }
            }

            .viewDocument-content {
                .ant-viewInput {
                    height: 100px;
                }
            }
        }
    }

    .viewSignapproval-container {
        padding: 20px;



    }

    .comment {
        display: flex;
        flex-direction: column;

        .commentInput {
            width: 70%;

        }

        .commentShow {
            height: 100%;

            .commentGroup {
                // height: 80px;

                .commentParent {
                    width: 60%;

                    .comment-element {
                        border-top: 1px solid #ccc;
                        display: flex;
                        // align-items: center;
                        // padding: 10px 0;
                        height: 80px;



                        .comment-avarta {
                            margin-right: 10px;
                            margin-top: 15px;
                        }

                        .comment-body {
                            // margin-top: -10PX;
                            width: 93%;
                            overflow-x: auto;


                            span {
                                font-size: 12px;

                                color: #b4afb2;
                            }

                            .comment-bodyTitle {
                                font-weight: bold;
                                margin-right: 20px;
                                margin-top: -10px;
                                font-size: 14px;

                            }

                            .comment-bodyComment {
                                padding-top: 5px;
                                color: #b4afb2;
                                overflow-wrap: break-word;

                                >a {
                                    margin: 0 10px;
                                }
                            }
                        }

                    }
                }

                .conment-Children {
                    width: calc(60% - 50px);

                    margin-left: 50px;

                    .comment-element {
                        border-top: 1px solid #ccc;
                        display: flex;
                        // align-items: center;
                        padding: 10px 0;
                        height: 61px;
                        overflow-x: auto;
                        overflow-wrap: break-word;

                        .comment-avarta {
                            margin-right: 10px;
                            margin-top: 15px;
                        }

                        .comment-body {
                            // margin-top: -10PX;
                            width: 93%;
                            margin-left: 10px;
                            // overflow-x: auto;
                            overflow-x: auto;


                            .comment-bodyTitle {
                                font-weight: bold;
                                margin-right: 20px;
                                margin-top: -10px;
                                font-size: 14px;
                            }

                            .comment-bodyComment {
                                padding-top: 5px;
                                overflow-wrap: break-word;
                                // overflow-x: auto;
                                color: #b4afb2;

                                >a {
                                    margin: 0 10px;
                                }
                            }
                        }

                    }
                }


            }
        }
    }

}