.search-input-container {
    display: flex;
    flex-direction: column;

    .bold-label {
        font-weight: bold;
        overflow: hidden;
        height: 21px;
        margin-bottom: 5px;

    }
}