@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}



.buttonFilter-menu {
    padding: 20px;
    width: 300px;
    max-height: 70vh;
    overflow-y: auto;
    // z-index: 9999;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);


    .menu-animation {
        animation: slideInRight 1s forwards;
    }

    .buttonFilter-title {
        display: flex;
        justify-content: space-between;



        .buttonFilter-title-right>a {
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
}