.header {
    height: 50px;
    display: flex;
    background-color: #167c82;
    justify-content: space-between;


    .header-left {
        // text-align: center;
        align-items: center;

        .header-menu {
            line-height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 10px;
            background-color: #79BD43;
            // border: 1px solid red;

        }

        .header-brand {
            padding-left: 6px;
            padding-right: 36px;
            padding-top: 4px;
            padding-bottom: 8px;
            border-right: 1px solid #bbb;
            ;
        }

        .header-span {
            color: white;
            font-size: 17px;
            font-weight: 400;
            padding: 13px 10px;
        }
    }

    .header-right {
        align-items: center;

        .header-icon {
            font-size: 25px;
            color: #fff;
            position: relative;
            padding-left: 12px;
            padding-right: 10px;
            padding-top: 8px;
            padding-bottom: 10px;


        }
    }

}