.sidebar {
    width: 230px;
    background: #f4f4f4;
    font-size: 14px;
    transition: all 0.3s;
    border-top: none;
    position: relative;
    height: 100%;

    .page-scroll {
        // background-color: #1D2A34;
        // height: calc(100vh - 80px);
        // overflow-y: auto;
        // overflow-x: hidden;
        background-color: #1D2A34;
    }
}
@media only screen and (min-device-width: 768px)
{
    .sidebar {
        height: 100%;
    }
    .list-menu {
        margin-bottom: 43px;
    }
}