.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #167c82;
    font-size: 14px;
    // top: 50px;
    padding: 5px 40px;
    color: #fff;

    .footer-left {
        gap: 0 7px;

        .ant-col>a {
            &:visited {
                color: #fff;

            }
        }

    }

    .footer-right {
        gap: 0 30px;

        .ant-col>a {
            &:visited {
                color: #fff;

            }
        }

        .footer-lang {
            gap: 0 5px;

            .ant-image {
                width: 20px;
            }
        }
    }
}