.buttonDropdown {

    width: 300px;
    height: calc(100vh - 85px);

    .btn-Dropdown-QHeader {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
    }

    .btn-Dropdown-QLabel {
        font-weight: bold;
        font-size: 16px;
    }

    .btn-Dropdown-Qa {

        padding-left: 20px;

        span {
            color: #4BA747;
        }
    }

    ///////////////////////////////////////////////
    .btn-Dropdown-UserHeader {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
    }

    .btn-Dropdown-UserLabel {
        padding: 10px 0;
        display: flex;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

    }

    .btn-Dropdown-Usera {

        padding-left: 20px;

        span {
            color: #4BA747;
        }
    }


}

.NotificationIcon {
    MARGIN-BOTTOM: -5PX;
    height: 27px;
    width: 22px;

    .BellNotification {
        align-items: center;
        // padding-bottom: 10px;
        color: #fff;
        position: absolute;

    }

    .CountNotification {
        position: absolute;
        font-size: 10px;
        background: red;
        right: 0;
        width: 20px;
        /* height: 15px; */
        text-align: center;
        border-radius: 81%;
    }
}