.list_request.list_request_scroll {
    margin-top: 15px;
    margin-right: -20px;
    // padding-right: 15px;
    height: calc(100vh - 247px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    // height: max-content;
}